{% extends 'home/base.html' %}

{% block title %} Histórico 
    {% if quote_list.values.0.currency == 'cop' %}
        COP
    {% elif quote_list.values.0.name|length <= 4 %}
        {{ quote_list.values.0.name|upper }}
    {% else %}
        {{ quote_list.values.0.name|title }}
    {% endif %} 
{% endblock %}

{% block content %}

<div class="my-5 container">

{% if quote_list %}

        <div class="table-responsive">
            <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th class="d-none d-md-block" scope="col">Fecha</th>
                <th scope="col">Compra</th>
                <th scope="col">Venta</th>
                <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
    
            {% for quote in quote_list.values %}
                <tr>
                <td class="d-none d-md-block">{{ quote.datetime | date:"Y-m-d H:i:s" }}</td>
                <td>{{ quote.buy | floatformat:2 }}</td>
                <td>{{ quote.sell | floatformat:2 }}</td>
                <td>{{ quote.time_relative }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
{% else %}
    <p>No quotes are available.</p>
{% endif %}

</div>

{% endblock %}

