{% extends 'home/base.html' %}

{% load static %}

{% block title %} Cotizaciones {% endblock %}

{% block content %}

    {% if latest_quote_list.ars %}

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th scope="col">ARS 🇦🇷</th>
                    <th scope="col">Compra</th>
                    <th scope="col">Venta</th>
                    <th scope="col">Tarjeta</th>
                    <th scope="col" class="d-none d-md-block">Update</th>
                    </tr>
                </thead>
                <tbody>
                {% for quote in latest_quote_list.ars %}
                    <tr>
                    <td><img src="{% static '' %}home/images/{{ quote.0.name }}.png" width="20" height="20"> <a class="link-dark text-decoration-none" href="/history_{{quote.0.name}}"><strong>{{ quote.0.name | slice:4 | upper }}</strong></a></td>
                    <td>{{ quote.0.buy | floatformat:2 }} {% if quote.0.buy > quote.1.buy or quote.1.buy == None %}<font color="red">&#9650;</font>{% else %}<font color="green">&#9660;</font>{% endif %}</td>
                    <td>{{ quote.0.sell | floatformat:2 }} {% if quote.0.sell > quote.1.sell or quote.1.sell == None %}<font color="red">&#9650;</font>{% else %}<font color="green">&#9660;</font>{% endif %}</td>
                    <td>{% if quote.0.other > 0 %}{{ quote.0.other | floatformat:2 }} {% if quote.0.other > quote.1.other or quote.1.other == None %}<font color="red">&#9650;</font>{% else %}<font color="green">&#9660;</font>{% endif %}{% endif %}</td>
                    <td class="d-none d-md-block">{{ quote.0.time_relative }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
    {% else %}
        <p>No quotes are available.</p>
    {% endif %}

    <br><br>

    {% if latest_quote_list.cop %}
            <div class="table-responsive">
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">COP 🇨🇴</th>
                    <th scope="col">Compra</th>
                    <th scope="col">Venta</th>
                    <th scope="col">TRM</th>
                    <th scope="col" class="d-none d-md-block">Update</th>
                    </tr>
                </thead>
                <tbody>
                {% for quote in latest_quote_list.cop %}
                    <tr>
                    <td><img src="{% static '' %}home/images/blue.png" width="20" height="20"> <a class="link-dark text-decoration-none" href="/history_{{quote.0.currency}}"><strong>{{ quote.0.name | slice:3 | upper }}</strong></a></td>
                    <td>{{ quote.0.buy | floatformat:2 }} {% if quote.0.buy > quote.1.buy or quote.1.buy == None %}<font color="red">&#9650;</font>{% else %}<font color="green">&#9660;</font>{% endif %}</td>
                    <td>{{ quote.0.sell | floatformat:2 }} {% if quote.0.sell > quote.1.sell or quote.1.sell == None %}<font color="red">&#9650;</font>{% else %}<font color="green">&#9660;</font>{% endif %}</td>
                    <td>{% if quote.0.other > 0 %}{{ quote.0.other | floatformat:2 }} {% if quote.0.other > quote.1.other or quote.1.other == None %}<font color="red">&#9650;</font>{% else %}<font color="green">&#9660;</font>{% endif %}{% endif %}</td>
                    <td class="d-none d-md-block">{{ quote.0.time_relative }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
    {% else %}
        <p>No quotes are available.</p>
    {% endif %}

{% endblock %}